@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100;
}

:root {
  --white: #ffffff;
  --black: #212121;
  --background: var(--white);
  --foreground: var(--black);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ffffff;
  }
} */

.dark {
  --background: var(--black);
  --foreground: var(--white);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
