@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  @apply transition-colors duration-0;
} */

:root {
  --white: #ffffff;
  --black: #212121;
  --gray: #e0e0e0;

  --background: var(--white);
  --foreground: var(--black);

  --primary: #3d6fb3;
  --secondary: #1a2f4c;

  --box: #98bbeb;
  --warn: #fef3c7;
  --info: #e0f2fe;

  color: var(--black);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ffffff;
  }
} */

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --box: #1a4786;
  --warn: #d8b800;
  --info: #1175c7;

  color: var(--white);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
